.card-list {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 36px;
}

@media only screen and (max-width: 1024px) {
  .card-list {
    justify-content: center;
  }
}
